@tailwind base;
@tailwind components;
@tailwind utilities;
html { scroll-behavior: smooth; }
.ProductDetails{
    display: grid;
    grid-template-columns: 30fr  30fr 30fr;
}
.products img{
    width: 500px;
    height: 200px;
    margin: 100px;

}

.products{
  margin-right: 5rem;
}

.box {
    width: 300px;
   
  }
  .box  h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
  }
  .w-6 {
    width: 1.5em;
  }
  .h-6 {
    height: 1.5em;
  }
  .flex {
    display: flex;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  





